.seo__domain-cont {
  padding-top: 1rem;
}

.seo__domain-loader {
  text-align: right;
  padding: 0.3rem;
  padding-left: 0.5rem;
  height: 1.75rem;
}

.seo__domain-input-cont {
  position: relative;
}

.seo__domain-input {
  background: transparent;
  color: var(--white);
  width: 100%;
  height: 45px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-light);
  border-radius: 13px;
}

.seo__domain-input:focus {
  outline: none;
}

.seo__domain-input::placeholder {
  font-family: "Karla";
  transition: display 3s ease;
}

.seo__domain-button {
  position: absolute;
  border-radius: 5px;
  display: flex;
  padding: 0.4rem;
  right: 15px;
  top: 9px;
  cursor: pointer;
  background-color: var(--gray-600);
  color: var(--gray-800);
  font-size: 13px;
}

.seo__domain-button--white {
  background-color: var(--white);
}

.seo__domain-button--disabled {
  cursor: not-allowed;
  background-color: var(--gray-600);
}
