.htmlIncluded{
    font-size:0;
    line-height: 1;
}
.htmlIncluded h3 {
    font-size: 18px;
    display: block;
    margin: 1.3em 0 0.8em;
    font-weight: 700;
    color: #00668c;
}

.htmlIncluded h3 strong ,.htmlIncluded h3 b{
    font-weight: 700;
    font-size: 24px;
}

.htmlIncluded * {
    font-size: 16px;
    line-height: 1.3;
}

.htmlIncluded  ul{
    margin: 16px 0
}
.htmlIncluded  ul li + li{
    margin-top: 16px;
}
.htmlIncluded  h1 {font-size: 32px;margin: 1.3em 0 0.5em;font-weight: 600;letter-spacing: 0;color: #00668c;}
.htmlIncluded  h2 {font-size: 20px;margin: 1.3em 0 0.5em;font-weight: 600;letter-spacing: 0;color: #00668c;}

.htmlIncluded h1:first-of-type {margin-top: 0;}


.htmlIncluded > ul  >ul {
    list-style: circle;
    margin-left: 17px;
}
.htmlIncluded tr + tr {
    border-top: 1px solid #d9d9d9;
}

.htmlIncluded td:first-child + td {
    text-align: left;
    font-weight: 500;
    vertical-align: top;
}

.htmlIncluded td:first-child + td ul {
    margin: 0;
    padding: 0;
}

.htmlIncluded table {
    width: 100%;
}

.htmlIncluded th {
    text-align: left;
    padding: 15px;
    font-size: 18px;
}

.htmlIncluded td {
    padding: 15px;
}

.htmlIncluded td {
    vertical-align: top;
}
.bounceBtn {
    animation: pulse 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.bounceBtn {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.bounceBtn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.bounceBtn:active {
    color: #000}
.bounceBtn:active:after {
    background: transparent;
}
.bounceBtn:before {
    opacity: 1;
}
.bounceBtn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}