.seo__primary-options {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
  justify-content: center;
  color: var(--gray-500);
}

.seo__primary-option {
  display: flex;
  gap: 0.7rem;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  white-space: nowrap;
  cursor: pointer;
  padding: 0.5rem 1.6rem;
  border: 1px solid var(--gray-200);
  border-radius: 0.6rem;
  transition: all 0.3s ease, transform 2s ease;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.seo__primary-option:hover {
  background-color: var(--gray-100);
}

.seo__primary-option.selected {
  background-color: var(--gray-700);
  color: var(--gray-100);
}
