@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #ececec;
  --gray-200: #cdcdcd;
  --gray-300: #b4b4b4;
  --gray-400: #9b9b9b;
  --gray-500: #676767;
  --gray-600: #424242;
  --gray-700: #2f2f2f;
  --gray-800: #212121;
  --gray-900: #171717;
  --gray-950: #0d0d0d;
  --brand-purple: #ab68ff;
  --text-primary: var(--gray-100);
  --text-secondary: var(--gray-300);
  --text-tertiary: var(--gray-500);
  --text-quaternary: var(--gray-700);
  --border-light: hsla(0, 0%, 100%, 0.1);
  --border-medium: hsla(0, 0%, 100%, 0.15);
  --border-heavy: hsla(0, 0%, 100%, 0.2);
  --border-xheavy: hsla(0, 0%, 100%, 0.25);
  --link: #7ab7ff;
  --link-hover: #5e83b3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-800);
  color: var(--white);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input[type="date"] {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

hr {
  border: none;
  border-top: 1px solid var(--gray-400);
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray-200);
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: grab;
  background: var(--gray-500);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-600);
}

.rdrDefinedRangesWrapper {
  display: none;
}

