.seo__options {
  display: grid;
  gap: 0.5rem;
  max-width: 12rem;
  font-size: 0.9rem;
}

.seo__options-cont {
  width: 100%;
  position: relative;
}

.seo-option {
  display: flex;
  gap: 0.7rem;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  white-space: nowrap;
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  border: 1px solid var(--gray-600);
  border-radius: 0.6rem;
  transform: translateX(1000%);
  transition: background-color 0.2s ease, transform 2s ease;
}

.seo-option:hover {
  background-color: var(--gray-700);
}

.seo-option.selected {
  background-color: var(--gray-600);
}

.seo-option.animated {
  transform: translateX(0%);
}

.seo-option.show:not(.animated) {
  animation: slidein 0.2s forwards;
}

.seo__options-next {
  position: absolute;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 5px;
  padding: 0.4rem;
  /* top: 0; */
  right: 15px;
  cursor: pointer;
  background-color: var(--white);
  color: var(--gray-800);
  font-size: 13px;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.seo__date-picker-option {
  visibility: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 24rem;
}

.seo__date-picker-option--visible {
  visibility: visible;
  animation: slidein 1.5s forwards;
}
